@import 'camphor';

$purple: #675bc1;
$grey: #525f7f;
$lightGrey: #f0f0f0;
$fadedPurple: #666385;
$fadedBlue: #f6f9fc;
$highlighterGreen: #a6e4c9;
$linkTeal: #35feff;

$tablet-width: 768px;
$desktop-width: 1024px;

@mixin mobile {
  @media (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

// @font-face {
//   font-family: 'Avenir-Medium';
//   src: url('./fonts/Avenir-Medium.woff2') format('woff2'),
//        url('./fonts/Avenir-Medium.woff') format('woff'),
// }
//
// @font-face {
//   font-family: 'Avenir-Light';
//   src: url('./fonts/Avenir-Light.woff2') format('woff2'),
//        url('./fonts/Avenir-Light.woff') format('woff'),
// }

@font-face {
  font-family: 'Monaco';
  src: url('./fonts/monaco-webfont.woff') format('woff'),
}

body {
  background-color: #F6F9FC;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-feature-settings: "pnum";
  font-variant-numeric: proportional-nums;
}

#topBackground {
  position: absolute;
  top: 0;
  width: 100%;
  height: 760px;
  transform: skewY(-12deg);
  transform-origin: 0;
  background-color: white;
  z-index: -1;

  @include mobile {
    height: 500px;
  }
}

// svg {
//   position: absolute;
//   top: 0;
//   width: 100%;
//   height: 60vw;
//   z-index: -1;
//
//   @include mobile {
//     height: 700px;
//   }
// }

.home-container {
  max-width: 1112px;
  margin: 0 auto;
}

.section-title {
  color: $grey;
  font-family: 'Camphor', Open Sans, Segoe UI, sans-serif;
  font-weight: 500;
  font-size: 1.5em;
  text-align: center;
  padding-top: 50px;
  margin-top: 50px;
  margin-bottom: 80px;
}

.section-title:after {
  content: " ";
  border:4px solid $purple;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  width: 50px;
}

.navbar {
  font-family: 'Camphor', Open Sans, Segoe UI, sans-serif;
  font-size: 1.2em;
  text-align: right;
  margin-top: 40px;
  margin-right: 40px;

  @include mobile {
    text-align: center;
  }

  a {
    position: relative;
    text-decoration: none;
    color: $fadedPurple;
    margin-left: 50px;

    &:after {
      display: block;
      position: absolute;
      left: 0;
      bottom: -30px;
      width: 0;
      height: 8px;
      background-color: $purple;
      content: "";
      transition: width 0.2s;
    }

    &:hover {
      color: black;

      &:after {
        width: 100%;
      }
    }
  }
}

.hero-container {
  width: 85%;
  margin: 0 auto;
  margin-top: 30vh;

  @include mobile {
    margin-top: 15vh;
  }

  .hero-title {
    font-family: 'Monaco', Consolas, "Lucida Console", monospace;
    font-size: 4.5em;
    color: $purple;
    // background: rgba(60,44,201,1);
    // background: -moz-linear-gradient(45deg, rgba(60,44,201,1) 0%, rgba(193,186,247,1) 100%);
    // background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(60,44,201,1)), color-stop(100%, rgba(193,186,247,1)));
    // background: -webkit-linear-gradient(45deg, rgba(60,44,201,1) 0%, rgba(193,186,247,1) 100%);
    // background: -o-linear-gradient(45deg, rgba(60,44,201,1) 0%, rgba(193,186,247,1) 100%);
    // background: -ms-linear-gradient(45deg, rgba(60,44,201,1) 0%, rgba(193,186,247,1) 100%);
    // background: linear-gradient(45deg, rgba(60,44,201,1) 0%, rgba(193,186,247,1) 100%);
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c2cc9', endColorstr='#c1baf7', GradientType=1 );
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;


    &:before {
      content: '>\a0';
    }

    @include mobile {
      font-size: 2.5em;
    }

    span {
      background-color: rgba($purple, .65);
      animation: caret 1s steps(1) infinite;
    }

    @keyframes caret {
      50% {
        background-color: transparent;
      }
    }
  }

  .hero-description {
    font-family: 'Camphor', Open Sans, Segoe UI, sans-serif;
    font-weight: 200;
    font-size: 1.5em;
    line-height: 40px;
    color: $grey;
    margin: 80px 0;

    @include mobile {
      font-size: 1.2em;
      line-height: 30px;
    }
  }
}

.about-container {
  width: 90%;
  margin-top: 20vh;
  margin: 0 auto;

  .terminal {

    .terminal-header {
      height: 28px;
      background-color: #e4e3e5;
      border-radius: 10px 10px 0 0;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .header-button {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        margin-left: 9px;
      }

      .red {
        background-color: #f96256;
        border: solid 1px #f65549;
      }

      .yellow {
        background-color: #fdbc3d;
        border: solid 1px #ffb524;
      }

      .green {
        background-color: #33c948;
        border: solid 1px #2dbb41;
      }
    }

    .terminal-window {
      background-color: $fadedPurple;
      border-radius: 0 0 4px 4px;
      box-shadow: 0 50px 100px rgba(50,50,93,.15), 0 15px 35px rgba(50,50,93,.2), 0 5px 15px rgba(0,0,0,.12);
      font-family: 'Monaco', Consolas, "Lucida Console", monospace;

      a {
        position: relative;
        text-decoration: none;
        color: $linkTeal;

        &:hover {
          background-color: $purple;
        }
      }

      .statement:first-child {
        padding-top: 35px;
      }

      .statement:last-child {
        padding-bottom: 60px;
      }

      .statement {
        margin-bottom: 25px;
        margin-left: 35px;
        margin-right: 35px;
        line-height: 24px;

        .input-statement {
          color: #f7f7f7;

          &:before {
            content: '>\a0';
          }
        }

        .return-statement {
          color: #e7d184;
        }

        span {
          background:rgba(247, 247, 247, 0.65);
          animation: caret 1s steps(1) infinite;
        }

        @keyframes caret {
          50% {
            background-color: transparent;
          }
        }
      }
    }
  }
}

.projects-container {
  width: 90%;
  margin: 0 auto;

  .project-card {
    position: relative;
    margin-bottom: 60px;
    padding: 75px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 50px 100px rgba(50,50,93,.05), 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.1);

    @include mobile {
      padding: 60px;
    }

    h3 {
      font-family: 'Camphor', Open Sans, Segoe UI, sans-serif;
      font-weight: 500;
      font-size: 1.8em;
      color: $grey;
      margin-top: 0;
      margin-bottom: 35px;
    }

    .project-links {
      display: flex;
      justify-content: flex-end;
      margin-top: 20px;

      .project-link {
        margin: 10px 10px 0 10px;
        white-space: nowrap;
        display: inline-block;
        height: 40px;
        line-height: 40px;
        padding: 0 14px;
        box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
        border-radius: 4px;
        font-size: 0.8em;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: .05em;
        text-decoration: none;
        transition: all .15s ease;
        color: #fff;
        background: $purple;

        &:hover {
          background: #7795f8;
          transform: translateY(-1px);
          box-shadow: 0 7px 14px rgba(50,50,93,.1),
                      0 3px 6px rgba(0,0,0,.08);
        }
      }
    }

    p {
      font-family: 'Camphor', Open Sans, Segoe UI, sans-serif;
      margin-bottom: 30px;
      line-height: 27px;
      color: $grey;

      a {
        text-decoration: none;
        color: $purple;
        position: relative;
        font-weight: bold;

        &:hover {
          background-color: $linkTeal;
        }
      }

      // &:before {
      //   content: " ";
      //   border:4px solid $lightGrey;
      //   margin-top: 10px;
      //   margin-bottom: 15px;
      //   display: block;
      //   max-width: 100px;
      //
      //   @include mobile {
      //     max-width: 60px;
      //   }
      // }
    }
    .project-skills {
      display: flex;
      flex-wrap: wrap;

      .project-skill {
        border-radius: 4px;
        border: solid 2px $highlighterGreen;
        padding: 8px;
        margin-right: 10px;
        margin-bottom: 10px;
        font-family: 'Camphor', Open Sans, Segoe UI, sans-serif;
        font-size: 0.85em;
        color: $grey;
      }
    }
  }
}

.contact-links {
  font-family: 'Camphor', Open Sans, Segoe UI, sans-serif;
  font-size: 1.5em;
  text-align: center;
  margin-top: 150px;
  padding-bottom: 200px;
  display: flex;
  justify-content: center;

  @include mobile {
    flex-direction: column;
    margin-top: 80px;
    padding-bottom: 130px;
  }

  span {
    @include mobile {
      margin: 20px 0;
    }

    &:after {
      content: "||";
      margin: 0 30px;

      @include mobile {
        content: "";
        margin: 0;
      }
    }

    &:nth-child(3) {
      &:after {
        content: "";
      }
    }
  }

  a {
    position: relative;
    text-decoration: none;
    color: $fadedPurple;

    &:after {
      display: block;
      position: absolute;
      left: 0;
      bottom: -30px;
      width: 0;
      height: 8px;
      background-color: $purple;
      content: "";
      transition: width 0.2s;

      @include mobile {
        bottom: -15px;
      }
    }

    &:hover {
      color: black;

      &:after {
        width: 100%;
      }
    }
  }
}

.footer {
  font-family: 'Camphor', Open Sans, Segoe UI, sans-serif;
  text-align: center;
  padding-bottom: 50px;
  color: $grey;
}
