$purple: #614fec;
$grey: #a2a2a2;
$lightGrey: #f0f0f0;
$fadedPurple: #666385;
$fadedBlue: #f6f9fc;
$highlighterGreen: #5bdfa5;
$linkTeal: #35feff;

$tablet-width: 768px;
$desktop-width: 1024px;

@mixin mobile {
  @media (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@font-face {
  font-family: 'Avenir-Medium';
  src: url('./fonts/Avenir-Medium.woff2') format('woff2'),
       url('./fonts/Avenir-Medium.woff') format('woff'),
       url('./fonts/Avenir-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Avenir-Light';
  src: url('./fonts/Avenir-Light.woff2') format('woff2'),
       url('./fonts/Avenir-Light.woff') format('woff'),
       url('./fonts/Avenir-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Monaco';
  src: url('./fonts/Monaco-Linux.ttf') format('truetype'),
}

body {
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
}

.home-container {
  max-width: 1112px;
  margin: 0 auto;
}

.section-title {
  color: $fadedPurple;
  font-family: 'Avenir-Light', Verdana, Geneva, sans-serif;
  font-size: 1.5em;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 80px;
}

.section-title:after {
  content: " ";
  border:4px solid $purple;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  width: 50px;
}

.navbar {
  font-family: 'Avenir-Light', Verdana, Geneva, sans-serif;
  font-size: 1.2em;
  text-align: right;
  margin-top: 40px;
  margin-right: 40px;

  @include mobile {
    text-align: center;
  }

  a {
    position: relative;
    text-decoration: none;
    color: $fadedPurple;
    margin-left: 50px;

    &:after {
      display: block;
      position: absolute;
      left: 0;
      bottom: -30px;
      width: 0;
      height: 8px;
      background-color: $purple;
      content: "";
      transition: width 0.2s;
    }

    &:hover {
      color: black;

      &:after {
        width: 100%;
      }
    }
  }
}

.hero-container {
  width: 85%;
  margin: 0 auto;
  margin-top: 30vh;

  @include mobile {
    margin-top: 15vh;
  }

  .hero-title {
    font-family: 'Monaco', Consolas, "Lucida Console", monospace;
    font-size: 3.5em;
    color: $purple;

    &:before {
      content: '>\a0';
    }

    @include mobile {
      font-size: 2.5em;
    }

    span {
      background-color: rgba($purple, .65);
      animation: caret 1s steps(1) infinite;
    }

    @keyframes caret {
      50% {
        background-color: transparent;
      }
    }
  }

  .hero-description {
    font-family: 'Avenir-Light', Verdana, Geneva, sans-serif;
    font-size: 1.5em;
    line-height: 40px;
    color: $grey;
    margin: 80px 0;

    @include mobile {
      font-size: 1.2em;
      line-height: 30px;
    }
  }
}

.about-container {
  width: 90%;
  margin-top: 20vh;
  margin: 0 auto;

  .terminal {

    .terminal-header {
      height: 28px;
      background-color: #e4e3e5;
      border-top-left-radius: 10px 10px;
      border-top-right-radius: 10px 10px;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .header-button {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        margin-left: 9px;
      }

      .red {
        background-color: #f96256;
        border: solid 1px #f65549;
      }

      .yellow {
        background-color: #fdbc3d;
        border: solid 1px #ffb524;
      }

      .green {
        background-color: #33c948;
        border: solid 1px #2dbb41;
      }
    }

    .terminal-window {
      background-color: $fadedPurple;
      box-shadow: 0 50px 100px rgba(50,50,93,.15), 0 15px 35px rgba(50,50,93,.2), 0 5px 15px rgba(0,0,0,.12);
      font-family: 'Monaco', Consolas, "Lucida Console", monospace;

      a {
        position: relative;
        text-decoration: none;
        color: $linkTeal;

        &:hover {
          background-color: $purple;
        }
      }

      .statement:first-child {
        padding-top: 35px;
      }

      .statement:last-child {
        padding-bottom: 60px;
      }

      .statement {
        margin-bottom: 25px;
        margin-left: 35px;
        margin-right: 35px;
        line-height: 24px;

        .input-statement {
          color: #f7f7f7;

          &:before {
            content: '>\a0';
          }
        }

        .return-statement {
          color: #e5cc77;
        }

        span {
          background:rgba(247, 247, 247, 0.65);
          animation: caret 1s steps(1) infinite;
        }

        @keyframes caret {
          50% {
            background-color: transparent;
          }
        }
      }
    }
  }
}

.projects-container {
  width: 90%;
  margin: 0 auto;

  .project-card {
    position: relative;
    margin-bottom: 60px;
    padding: 90px;
    background-color: white;
    box-shadow: 0 50px 100px rgba(50,50,93,.05), 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.1);

    @include mobile {
      padding: 60px;
    }

    h3 {
      font-family: 'Monaco', Consolas, "Lucida Console", monospace;
      font-size: 1.8em;
      margin-top: 0;
      margin-bottom: 10px;
    }

    .project-links {
      display: flex;
      justify-content: flex-end;

      .project-link {
        position: relative;
        text-decoration: none;
        color: $fadedPurple;
        font-size: 1.8em;
        margin-left: 5px;

        &:hover {
          color: $purple;
        }

        &:nth-child(2) {
          top: 2px;
        }
      }
    }

    p {
      font-family: 'Avenir-Light', Verdana, Geneva, sans-serif;
      margin-bottom: 40px;
      line-height: 27px;

      &:before {
        content: " ";
        border:4px solid $lightGrey;
        margin-bottom: 15px;
        display: block;
        max-width: 100px;

        @include mobile {
          max-width: 60px;
        }
      }
    }
    .project-skills {
      display: flex;
      flex-wrap: wrap;

      .project-skill {
      	border-radius: 100px;
      	border: solid 2px $highlighterGreen;
        padding: 8px 20px;
        margin-right: 15px;
        margin-bottom: 13px;
        font-family: 'Avenir-Light', Verdana, Geneva, sans-serif;
        font-size: 0.85em;
        color: $grey;
      }
    }
  }
}

.contact-links {
  font-family: 'Avenir-Light', Verdana, Geneva, sans-serif;
  font-size: 1.5em;
  text-align: center;
  margin-top: 150px;
  padding-bottom: 200px;
  display: flex;
  justify-content: center;

  @include mobile {
    flex-direction: column;
    margin-top: 80px;
    padding-bottom: 130px;
  }

  span {
    @include mobile {
      margin: 20px 0;
    }

    &:after {
      content: "||";
      margin: 0 30px;

      @include mobile {
        content: "";
        margin: 0;
      }
    }

    &:nth-child(3) {
      &:after {
        content: "";
      }
    }
  }

  a {
    position: relative;
    text-decoration: none;
    color: $fadedPurple;

    &:after {
      display: block;
      position: absolute;
      left: 0;
      bottom: -30px;
      width: 0;
      height: 8px;
      background-color: $purple;
      content: "";
      transition: width 0.2s;

      @include mobile {
        bottom: -15px;
      }
    }

    &:hover {
      color: black;

      &:after {
        width: 100%;
      }
    }
  }
}

.footer {
  font-family: 'Avenir-Light', Verdana, Geneva, sans-serif;
  text-align: center;
  padding-bottom: 50px;
  color: $fadedPurple;
}
