@import './fonts/camphor';
@import 'reset';
@import 'colors';
@import 'breakpoints';

@import '../js/components/Navbar';
@import '../js/components/Hero';
@import '../js/components/About';
@import '../js/components/Projects';
@import '../js/components/Contact';
@import '../js/components/Footer';

@font-face {
  font-family: 'Monaco';
  src: url('./fonts/monaco-webfont.woff') format('woff'),
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #F6F9FC;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-feature-settings: "pnum";
  font-variant-numeric: proportional-nums;
}

#topBackground {
  position: absolute;
  top: 0;
  width: 100%;
  height: 760px;
  transform: skewY(-12deg);
  transform-origin: 0;
  background-color: white;
  z-index: -999;

  @include mobile {
    height: 500px;
  }
}

.home-container {
  max-width: 1112px;
  margin: 0 auto;
}

.section-title {
  color: $grey;
  font-family: 'Camphor', Open Sans, Segoe UI, sans-serif;
  font-weight: 500;
  font-size: 1.5em;
  text-align: center;
  padding-top: 50px;
  margin-top: 50px;
  margin-bottom: 80px;

  @include mobile {
    margin-bottom: 40px;
  }
}

.section-title:after {
  content: " ";
  border:4px solid $purple;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  width: 50px;
}
